<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>
    
    <body>
        <div class="page">
            <header>
                <div class="title">
                    <a href="{{ url_for('home') }}">Wei's Project</a>
                </div>
                <div class="menu">
                    <div class="menu-item">
                        <a href="{{ url_for('aboutme') }}">About Me</a>
                    </div>
                </div>
            </header>
        
            <div class="container">
                <div class="welcome">
                    <h1>Hello There!</h1>
                    <p>Welcome to my site! This is a work in progress site.</p>
                </div>
                <div>
                    <h2>Add a Blog Post Here</h2>
                </div>
                <form method="POST">
                    <textarea name="content"></textarea>
                    <input type="submit"/>
                </form>
                <div>
                    <h2>Recent Blog Posts</h2>
                </div>
                <div class="entries">
                    {% for entry in entries %}
                    <div class="entry">
                        <div class="entry-title">
                            {{ entry[0]|truncate(30,true) }}
                            <span class="entry-date">
                                - {{entry[1]}}
                            </span>
                        </div>
                        <p class="entry-content">
                            {{entry[0]}}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            
            </div>
        
            <footer>
                <div class="footer-container">
                    <div class="left">
                        <a href="https://github.com/weitheway" class="footer-item">
                            GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/wen-wei-zheng-030264127/" class="footer-item">
                            LinkedIn
                        </a>
                    </div>
                    <div class="right">
                        <div class="footer-section">
                            <a class="footer-item">
                                Contact Me:
                            </a>
                            <a class="footer-item">
                                wzheng4@stevens.edu
                            </a>
                        </div>
    
                    </div>
                </div>
            </footer>
        </div>
    </body>

</html>